<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WrokerBID</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
  </head>
  <body>
    <!-- Include the nav.ejs partial -->
    <%- include('../partials/nav') %>
    <main>
      <div class="container123">
        <h3>As a Worker:</h3>
        <p>
          Welcome! You can make bid on available projects, accept tasks, and
          track your work progress.
        </p>
        <p>you will provided the bid form soon just wait</p>
      </div>

      <div class="container123">
        
      </div>
    </main>

    <div class="overlay" id="overlay"></div>
    <div class="error-popup" id="errorPopup">
      <p id="errorMessage">An error occurred. Please try again later.</p>
      <button onclick="closePopup()">Close</button>
    </div>
    <!-- The Modal -->
    <div id="custom-logoutModal" class="custom-modal">
      <div class="custom-modal-content">
        <span class="custom-close">&times;</span>
        <p>Are you sure you want to log out?</p>
        <button id="custom-confirmLogout-unique">Yes</button>
        <button id="custom-cancelLogout-unique">No</button>
      </div>
    </div>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
