<div class="sidebar">
  <h2>Sidebar</h2>
  <ul>
    <li>
      <a href="/worker"><i class="fas fa-home"></i>Home</a>
    </li>
    <li>
      <a href="/worker/profile"><i class="fas fa-user"></i>Profile</a>
    </li>
    <li>
      <a href="/worker/GetProjectPage"
        ><i class="fas fa-address-card"></i>GetProjectPage</a
      >
    </li>
    <li id="logout-link">
      <a href="javascript:void(0)" onclick="showLogoutConfirmation()"
        ><i class="fas fa-address-card"></i>Logout</a
      >
    </li>
    <li id="logout-confirmation" style="display: none">
      <span
        >Are you sure you want to logout?
        <a href="javascript:void(0)" onclick="logout()">Yes</a> |
        <a href="javascript:void(0)" onclick="cancelLogout()">No</a></span
      >
    </li>
    <li>
      <a href="/worker/OfferPage"
        ><i class="fas fa-project-diagram"></i>OfferPage</a
      >
    </li>
    <li>
      <a href="#"><i class="fas fa-blog"></i></a>
    </li>
    <li>
      <a href="#"><i class="fas fa-address-book"></i></a>
    </li>
    <li>
      <a href="#"><i class="fas fa-map-pin"></i></a>
    </li>
  </ul>
  <!-- <div class="social_media">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="http://portal3.tmu.ac.in/"
      ><i class="fab fa-twitter"></i>TMU</a
    >
    <a href="https://instagram.com"
      ><i class="fab fa-instagram"></i>Instagram</a
    >
  </div> -->
</div>

<script>
  // Show the logout confirmation message when the "Logout" link is clicked
  function showLogoutConfirmation() {
    // Hide the "Logout" link and show the confirmation message
    document.getElementById("logout-link").style.display = "none";
    document.getElementById("logout-confirmation").style.display = "block";
  }

  // Redirect to the logout API when the user confirms
  function logout() {
    // Redirect to the logout route (replace '/logout-api' with your actual logout API route)
    window.location.href = "/worker/logout"; // Update the API endpoint as needed
  }

  // Hide the confirmation message and show the "Logout" link again when the user cancels
  function cancelLogout() {
    document.getElementById("logout-link").style.display = "block";
    document.getElementById("logout-confirmation").style.display = "none";
  }
</script>
