<!-- Sidebar -->
<div class="sidebar">
  <img src="<%= user.profile.profilePicture  %>" alt="User Profile" />
  <h3><%= user.fullName %></h3>
  <a href="/CWS/"><i class="fas fa-home"></i> Home</a>

  <a href="/CWS/profile"><i class="fas fa-user"></i> Profile</a>
  <a href="/CWS/Feedback"><i class="fas fa-comment-alt"></i> Feedback</a>
</div>
