<!-- Sidebar -->
<div class="sidebar">
  <img src="<%= user.profile.profilePicture  %>" alt="User Profile" />
  <h3><%= user.fullName %></h3>
  <a href="/CWS/"><i class="fas fa-home"></i> Home</a>

  <a href="/CWS/profile"><i class="fas fa-user"></i> Profile</a>
  <a href="/CWS/Feedback"><i class="fas fa-comment-alt"></i> Feedback</a>

  <!--  Demo of ifelse ejs template -->
  <% if (user.role=="client") { %>
    <!-- <a href="/CWS/Feedback"><i class="fas fa-comment-alt"></i> Feedback</a>
    HTML or EJS code to execute if the condition is true
  <% } else { %>
  HTML or EJS code to execute if the condition is false
  <% } %> -->
</div>
