<nav id="sidebar">
  <ul>
    <li>
      <span class="logo">AssoCom</span>
      <button onclick="toggleSidebar()" id="toggle-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"
          />
        </svg>
      </button>
    </li>
    <li>
      <a href="/CWS/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z"
          />
        </svg>
        <span>Home</span>
      </a>
    </li>

    <li class="active">
      <a href="/CWS/profile">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
          />
        </svg>
        <span>Profile</span>
      </a>
    </li>

    <li class="active">
      <a href="/CWS/feedBack">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#000000"
        >
          <path
            d="M3 3H21C21.55 3 22 3.45 22 4V18C22 18.55 21.55 19 21 19H3C2.45 19 2 18.55 2 18V4C2 3.45 2.45 3 3 3ZM3 2C1.9 2 1 2.9 1 4V18C1 19.1 1.9 20 3 20H21C22.1 20 23 19.1 23 18V4C23 2.9 22.1 2 21 2H3ZM5 6H19C19.55 6 20 6.45 20 7C20 7.55 19.55 8 19 8H5C4.45 8 4 7.55 4 7C4 6.45 4.45 6 5 6ZM5 10H19C19.55 10 20 10.45 20 11C20 11.55 19.55 12 19 12H5C4.45 12 4 11.55 4 11C4 10.45 4.45 10 5 10ZM5 14H19C19.55 14 20 14.45 20 15C20 15.55 19.55 16 19 16H5C4.45 16 4 15.55 4 15C4 14.45 4.45 14 5 14Z"
          />
        </svg>

        <span>FeedBack</span>
      </a>
    </li>
    <% if (user.role=="client") { %>
    <li class="active">
      <a href="/client/postProject">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M4 3H2C1.44772 3 1 3.44772 1 4V20C1 20.5523 1.44772 21 2 21H4C4.55228 21 5 20.5523 5 20V4C5 3.44772 4.55228 3 4 3Z"
          />
          <path
            d="M9 3H7C6.44772 3 6 3.44772 6 4V20C6 20.5523 6.44772 21 7 21H9C9.55228 21 10 20.5523 10 20V4C10 3.44772 9.55228 3 9 3Z"
          />
          <path
            d="M14 3H12C11.4477 3 11 3.44772 11 4V20C11 20.5523 11.4477 21 12 21H14C14.5523 21 15 20.5523 15 20V4C15 3.44772 14.5523 3 14 3Z"
          />
          <path
            d="M19 3H17C16.4477 3 16 3.44772 16 4V20C16 20.5523 16.4477 21 17 21H19C19.5523 21 20 20.5523 20 20V4C20 3.44772 19.5523 3 19 3Z"
          />
        </svg>

        <span>projects</span>
      </a>
    </li>
    <li class="active">
      <a href="/client/projects">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#e8eaed"
        >
          <g>
            <rect x="3" y="6" width="14" height="9" rx="1" />
            <path d="M3 6h7l2 3h7v9H3z" fill="#e8eaed" />
            <rect x="3" y="15" width="14" height="9" rx="1" />
            <path d="M3 15h7l2 3h7v9H3z" fill="#e8eaed" />
          </g>
        </svg>

        <span>Archive</span>
      </a>
    </li>
    <li class="active">
      <a href="/client/Offer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M12 0C5.37 0 0 5.37 0 12s5.37 12 12 12 12-5.37 12-12S18.63 0 12 0zm0 22C6.48 22 2 17.52 2 12S6.48 2 12 2s10 4.48 10 10-4.48 10-10 10zm-1-15h2v6h-2zm0 8h2v2h-2z"
          />
        </svg>

        <span>offers</span>
      </a>
    </li>

    <% } else { %>

    <li class="active">
      <a href="/worker/GetProjectPage">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M4 3H2C1.44772 3 1 3.44772 1 4V20C1 20.5523 1.44772 21 2 21H4C4.55228 21 5 20.5523 5 20V4C5 3.44772 4.55228 3 4 3Z"
          />
          <path
            d="M9 3H7C6.44772 3 6 3.44772 6 4V20C6 20.5523 6.44772 21 7 21H9C9.55228 21 10 20.5523 10 20V4C10 3.44772 9.55228 3 9 3Z"
          />
          <path
            d="M14 3H12C11.4477 3 11 3.44772 11 4V20C11 20.5523 11.4477 21 12 21H14C14.5523 21 15 20.5523 15 20V4C15 3.44772 14.5523 3 14 3Z"
          />
          <path
            d="M19 3H17C16.4477 3 16 3.44772 16 4V20C16 20.5523 16.4477 21 17 21H19C19.5523 21 20 20.5523 20 20V4C20 3.44772 19.5523 3 19 3Z"
          />
        </svg>

        <span>projects</span>
      </a>
    </li>
    <li class="active">
      <a href="/worker/OfferPage">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M12 0C5.37 0 0 5.37 0 12s5.37 12 12 12 12-5.37 12-12S18.63 0 12 0zm0 22C6.48 22 2 17.52 2 12S6.48 2 12 2s10 4.48 10 10-4.48 10-10 10zm-1-15h2v6h-2zm0 8h2v2h-2z"
          />
        </svg>

        <span>offers</span>
      </a>
    </li>
    <% } %>
  </ul>
</nav>
